.navbar-brand {
    font-weight: bold;
    transition: color 0.3s linear;
}

/* for the stacks dropdown */
.stacks {
    max-width: 400px;
}


/* for the card grid */
.cards-grid .row {
    justify-content: center;
}
.card.hovercard {
    max-width: 350px;
    margin: 0 auto;
}
.card.hovercard .info .title > p {
    font-size:0.9rem;
    margin-bottom: 10px;
    line-height: 14px;
}
.card.hovercard .info .title .stack,
.card.hovercard .info .title .department{
    line-height: 8px;
}
/* for the pagination */

/* for the scroll up  */
#scroll {
    display: block;
}